// Contact-us
.contact-us {
  position: relative;

  &__header {
    padding: 7.8rem 0;
    background-color: $brand-secondary;
  }

  &__title {
    color: $white;
  }

  &__body {
    padding: 8rem 0;
  }

  &__inner {
    justify-content: space-between;
    padding: 0 -15px;
  }

  &__row {
    margin-bottom: 6rem;
    padding: 0 15px;
  }

  &__heading {
    text-align: left;
  }

  &__text {
    margin: 0;
    text-align: justify;
  }

  &__col {
    width: 50%;
    padding: 0 15px;

    &--form {
      max-width: 29rem;
    }
  }

  &__address {
    font-size: 1.2rem;
    font-style: normal;
  }

  &__item {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    transition: color 0.3s ease 0s;

    @include respond(min-md) {
      &:hover {
        color: $brand-main;
      }
    }

    &--arrow {
      position: relative;
      display: inline-block;
      padding: 1rem 3rem 1rem 0;
      font-weight: 700;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    transform: translateY(-50%);
    transition: fill 0.3s ease 0s;
  }

  &__fieldset {
    padding: 0;
    border: none;
  }

  &__label {
    display: block;
    margin-bottom: 0.25rem;
  }

  &__input,
  &__message {
    padding: 0.8rem 0.5rem;
    display: block;
    width: 100%;
    border: 2px solid rgba(20, 39, 74, 0.5);
    caret-color: $brand-secondary;
    outline-color: transparent;

    &:focus {
      border-color: $brand-main;
      box-shadow: inset 0 0 0 2px rgba($brand-main, 0.8);
      transition: all 0.3s ease 0s;
    }
  }

  &__input {
    margin-bottom: 1rem;
  }

  &__message {
    resize: none;
    margin-bottom: 44px;
    color: $brand-secondary;
  }

  @include respond(max-sm) {
    &__heading {
      text-align: center;
    }

    &__body {
      padding-top: 5rem;
    }

    &__row {
      margin-bottom: 3rem;
    }

    &__col {
      width: 100%;
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}
