<!-- Facilities -->
include ../mixins/mixins

section.facilities.section
  .container
    .section__header
      .facilities__heading.heading
        | Facilities
      p.facilities__text.text(data-aos='fade-up' data-aos-delay='0')
        | We want your stay at our lush hotel to be truly unforgettable. That is why we give special attention to all of your needs so that we can ensure an experience quite unique. Luxury hotels offers the perfect setting with stunning views for leisure and our modern luxury resort facilities will help you enjoy the best of all.
    
    .facilities__inner.d-f.fxw-w
      +facilities_item("images/sprite.svg#hotel", "Luxury Experience", "Panoramic views, finest cousine, ideal suites and team of professionals for unforgettable experience.")
      +facilities_item("images/sprite.svg#table", "Restaurant", "Barcelona’s culinary culture is clearly marked by its coastal personality, giving it an essential Mediterranean character.")
      +facilities_item("images/sprite.svg#entertainment", "Entertainment", "Come and enjoy live music every night while you watch the incredible sunset.")
      +facilities_item("images/sprite.svg#drink", "Poolside Lounge", "Enjoy the sea breeze and mesmerizing sunsets in the most fashionable and sophisticated Lounge in Barcelona.")
      +facilities_item("images/sprite.svg#gym", "Gym", "Equipped with machines and fitness equipment to maintain your training routine.")
      +facilities_item("images/sprite.svg#towel", "The Spa", "Put yourself in the hands of our expert therapists and indulge in an authentic wellness experience.")
<!-- /Facilities -->
