<!-- Gallery -->
include ../mixins/mixins

section.gallery
  .gallery__box.js-gallery-box.d-f.fxw-w
    +gallery_item("images/content/gallery-out-01.jpg", "images/content/gallery-out-01-sm.jpg", "Hotel Outside View")
    +gallery_item("images/content/gallery-out-02.jpg", "images/content/gallery-out-02-sm.jpg", "Sunset on the Terrace")
    +gallery_item("images/content/gallery-out-03.jpg", "images/content/gallery-out-03-sm.jpg", "Swimming Pool")
    +gallery_item("images/content/gallery-out-04.jpg", "images/content/gallery-out-04-sm.jpg", "Restaurant Terrace, view 2")
    +gallery_item("images/content/gallery-restaurant-01.jpg", "images/content/gallery-restaurant-01-sm.jpg", "Hotel Restaurant")
    +gallery_item("images/content/gallery-lobby-01.jpg", "images/content/gallery-lobby-01-sm.jpg", "Gallery Lobby")
    +gallery_item("images/content/gallery-lobby-02.jpg", "images/content/gallery-lobby-02-sm.jpg", "Gallery Lobby, view 2")
    +gallery_item("images/content/gallery-bar-01.jpg", "images/content/gallery-bar-01-sm.jpg", "Hotel Bar")
    +gallery_item("images/content/gallery-room-01.jpg", "images/content/gallery-room-01-sm.jpg", "Luxury Hotel Suite")
    +gallery_item("images/content/gallery-room-02.jpg", "images/content/gallery-room-02-sm.jpg", "Hotel Room")
    +gallery_item("images/content/gallery-gym-01.jpg", "images/content/gallery-gym-01-sm.jpg", "Working Out at the Gym")
    +gallery_item("images/content/gallery-spa-01.jpg", "images/content/gallery-spa-01-sm.jpg", "Spa Treatment")
<!-- /Gallery -->
