extends common/layout
include includes/mixins/mixins

block content
  main.content
    +hero('background-image: url(images/bg/home-hero-bg.jpg);')
    include includes/index/about
    include common/testimonials
