<!-- Rooms -->
section.rooms.section
  .container
    .section__header
      .rooms__heading.heading
        | Rooms and Suites
      p.rooms__text.text(data-aos='fade-up' data-aos-delay='0')
        | Each of our bright, light-flooded rooms come with everything you could possibly need for a comfortable stay. And yes, comfort isn’t our only objective, we also value good design, sleek contemporary furnishing complemented by the rich tones of nature’s palette as visible from our rooms’ sea-view windows and terraces.

    .rooms__cards.d-f.fxw-w
      article.rooms__card
        .rooms__gallery.swiper-container
          .rooms__slides.swiper-wrapper
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-1-01.jpg' alt='Barcelona Panoramic Room, view 1')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-1-02.jpg' alt='Barcelona Panoramic Room, view 2')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-1-03.jpg' alt='Barcelona Panoramic Room, view 3')
          .rooms__pagination.swiper-pagination
        .rooms__body
          a.rooms__title(href='#')
            | Barcelona Panoramic Room
          .rooms__price
            | 281
            span.rooms__currency €
            |  / Per Night

      article.rooms__card
        .rooms__gallery.swiper-container
          .rooms__slides.swiper-wrapper
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-2-01.jpg' alt='Deluxe Sea View Room, view 1')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-2-02.jpg' alt='Deluxe Sea View Room, view 2')
          .rooms__pagination.swiper-pagination
        .rooms__body
          a.rooms__title(href='#')
            | Deluxe Sea View Room
          .rooms__price
            | 296
            span.rooms__currency €
            |  / Per Night

      article.rooms__card
        .rooms__gallery.swiper-container
          .rooms__slides.swiper-wrapper
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-1-01.jpg' alt='Arts Suite, view 1')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-1-02.jpg' alt='Arts Suite, view 2')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-1-03.jpg' alt='Arts Suite, view 3')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-1-04.jpg' alt='Arts Suite, view 4')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-1-05.jpg' alt='Arts Suite, view 5')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-1-06.jpg' alt='Arts Suite, view 6')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-1-07.jpg' alt='Arts Suite, view 7')
          .rooms__pagination.swiper-pagination
        .rooms__body
          a.rooms__title(href='#')
            | Arts Suite
          .rooms__price
            | 507
            span.rooms__currency €
            |  / Per Night

      article.rooms__card
        .rooms__gallery.swiper-container
          .rooms__slides.swiper-wrapper
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-2-01.jpg' alt='Mediterranean Suite, view 1')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-2-02.jpg' alt='Mediterranean Suite, view 2')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-2-03.jpg' alt='Mediterranean Suite, view 3')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-2-04.jpg' alt='Mediterranean Suite, view 4')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-suite-2-05.jpg' alt='Mediterranean Suite, view 5')
          .rooms__pagination.swiper-pagination
        .rooms__body
          a.rooms__title(href='#')
            | Mediterranean Suite
          .rooms__price
            | 522
            span.rooms__currency €
            |  / Per Night

      article.rooms__card
        .rooms__gallery.swiper-container
          .rooms__slides.swiper-wrapper
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-1-01.jpg' alt='The Barcelona Penthouse, view 1')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-1-02.jpg' alt='The Barcelona Penthouse, view 2')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-1-03.jpg' alt='The Barcelona Penthouse, view 3')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-1-04.jpg' alt='The Barcelona Penthouse, view 4')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-1-05.jpg' alt='The Barcelona Penthouse, view 5')
          .rooms__pagination.swiper-pagination
        .rooms__body
          a.rooms__title(href='#')
            | The Barcelona Penthouse
          .rooms__price
            | 1,007
            span.rooms__currency €
            |  / Per Night

      article.rooms__card
        .rooms__gallery.swiper-container
          .rooms__slides.swiper-wrapper
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-2-01.jpg' alt='The Presidential Penthouse, view 1')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-2-02.jpg' alt='The Presidential Penthouse, view 2')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-2-03.jpg' alt='The Presidential Penthouse, view 3')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-2-04.jpg' alt='The Presidential Penthouse, view 4')
            .rooms__slide.swiper-slide.ar-3-2.overlay-20
              img.rooms__img(src='images/content/rooms-penthouse-2-05.jpg' alt='The Presidential Penthouse, view 5')
          .rooms__pagination.swiper-pagination
        .rooms__body
          a.rooms__title(href='#')
            | The Presidential Penthouse
          .rooms__price
            | 1,432
            span.rooms__currency €
            |  / Per Night
<!-- /Rooms -->
